.service-history-container{
    display: grid;
    grid-template-columns: repeat(2, auto);
    list-style: none;
    padding: 50px 60px;
    grid-gap: 45px;
    background: white;
    margin-left: 25%;
}

.service-history-loader{
    margin-left: 45%;
    margin-top: 120px;
}

.service-history-no-data{
    margin-left: 25%;
    margin-top: 200px;
    color: #ccc;
    font-size: 40px;
}

@media screen and (max-width: 1300px){
    .service-history-container{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 850px) {
    .service-history-container{
        margin-left: 0;
    }
}