.category-box{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 30px;
    list-style: none;
    padding: 50px 60px;
    background: white;
}

@media screen and (max-width: 1200px) {
    .category-box{
        grid-template-columns: repeat(3,auto);
    }
    
}

@media screen and (max-width: 750px) {
    .category-box{
        grid-template-columns: repeat(2,auto);
    }
    
}