.sidebar-container{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    width: 250px;
    position: fixed;
    align-items: center;
    height: 100%;
    background: rgb(255, 255, 255);
    box-shadow: rgba(138, 135, 135, 0.35) 2px 2px 8px;
}

.sidebar-element{
    display: flex;
    justify-content: center;
    padding: 15px 10px;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    width: 100%;
    color: #1c2237;
}

.sidebar-element p{
    margin-top: 20px;
}

.sidebar-element:hover{
    background: #ccc;
}

.sidebar-icon-container{
    display: none;
}

.sidebar-component{
    display: flex;
}

@media screen and (max-width: 1000px) {
   
    .sidebar-container{
        position: absolute;
        left: -100%;
        transition: all 0.4s ease;
    }
    .sidebar-icon-container{
        display: flex;
        position: fixed;
        margin-top: 240px;
        z-index: 2;
        cursor: pointer;
        background: rgb(136, 134, 134);
        padding-top: 25px;
        padding-bottom: 25px;
        padding-right: 5px;
        color: white;
    }

    .sidebar-container.mobile{
        display: flex;
        position: fixed;
        flex-direction: column;
        border: 1px solid #ccc;
        width: 250px;
        left: 0;
        align-items: center;
        z-index: 1;
        box-shadow: rgba(138, 135, 135, 0.35) 2px 2px 8px;
    }
}