body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --app-color: #7be4cb;
  --app-blue: rgb(51, 118, 242);
  --app-red: #E60965;
  --app-light: #F7F7F7;
  --app-hover-red: #F94892;
  --app-black: #596374;
  --app-black-light: #747d8a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
